#logo{transform: rotate(-38deg); margin-top: -23px;}

.logo-adapted{
    margin-top: -22px;
    transform: rotate(-30deg);
    height: 70px;
}
.hor-line{
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}
@media (max-width:767px){
    .mob-margin {
        margin-top: 5px;
    }
    .step-btn-remove{
        margin: 260px 0 0 244px!important;
    }
}
.step-btn-remove{
    position: absolute;
    margin: 120px 0 0 -73px;
    display: block;
}
.ing-btn-remove:hover,.step-btn-remove:hover{cursor:pointer}

.photo-mobile{
    width: 100%;
    height: 100%;
}

#showSave{
    position: fixed;
    left: 48%;
    top: 30%;
    color: limegreen;
    border: 4px solid limegreen;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 0 35px rgba(0,0,0,0.5);
}
#showSave > span{
    font-size: 50px;
}
.photo-edit{
    width: 190px;
    margin: 15px 0 15px 0;

}
.photo-preview{
    margin-bottom: 15px;
}
#description{
    resize: none;
}
.scratch-btn, .publish-btn{
    width: 150px;
    margin: 3px;
}
.step{
    margin-bottom:10px;
}
.step-description{
    resize: none;
    width:100%;
}
.step-img-holder{
    position: absolute;
    margin-left: -14px;
}
.ing-btn-remove{
    display: block;
    margin-top:8px;
    margin-left: -10px;
    float:left;
}
.step-remove{
    width:16px;
    margin-top: 35px;
    margin-left:-20px;
    z-index: 100;
    position: absolute;
}

.glyphicon-remove{
    color:red;
    display:inline;
    vertical-align: middle;
}
.main-img-holder img{
    height:200px;
    width:250px;
}
.ingridients-group input{
    margin-bottom: 10px;
}

h2{
    text-align: center;
}
/*original*/
html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.no-resize{resize: none}
.save-profile-btn{margin-top: 25px}
.recipe-wrapper{
    width: 355px;
    height: 450px;
    border: 1px solid grey;
    display: block;
    border-radius: 10px;
    float: left;
    margin: 0 10px 10px 10px;
    padding: 10px;
}
.recipe-wrapper:hover {
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}
.rec-name {height: 68px; overflow: hidden}
.main-rec-content p {color: #262626;overflow: hidden}
.recipe-ava-wrapper{height: 250px}
.recipe-ava-wrapper > img{
    max-width:100%;height:auto;
}
.time-img { max-width:70%;height:auto;}
.rec-ing{
    position: relative;
    margin-left: 18px;
    height: 400px;
    overflow: hidden;
}
.step .file-drop-zone-title {padding: 26px 10px;}
.rec-ing td {border: none!important;}
.rec-name > p, .time-span {
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    color: #262626;
}
.rec-name > p{font-size: 23px;}
.time-span{font-size: 20px;text-align: center}
.rec-name > p:hover{text-decoration: none;}
#main-search-block > .col-xs-3 {height: 65px;}
#search-input > label{font-size: 30px;}
#hr{height: 50px;}
#query{min-width:250px;}
.author-desc{font-weight: bold}
#main-image{min-height: 430px}
#nav-buttons{margin-bottom: 10px}
#recipe div {overflow: hidden}
#nav-buttons button { height: 25px;display: inline-block;margin-top: -16px;}
.instruction{
    padding: 5px;
}
.instruction > div{
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 15px;
}
.step-id{width: 25%; position: relative; display: block; overflow: initial!important;float: left;}
.step-id > img{
    display: block;
}
.step-id > span{
    display: block;
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    left: 5px;
    top: 79px;
    padding: 3px 10px;
    font-weight: 900;
}
.step-ins{margin-top: 15px}
#recipe h1 {margin: 0 0 20px 0;}
.breadcrumb{margin-bottom:0!important;}
.searchness{
    text-decoration: underline;
    font-size: 24px;
}
.h1 {text-align: center}
.seo-text{
    font-size: 22px;
    font-weight: 500;
    clear: both;
}